.chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}
.chart {
    width: 55%; 
    height: 400px; 
}
.myChart2 {
    width: 100%; 
    height: 400px; 
}
.full-width-chart {
    width: 100%; 
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
}